.jumbotron {
  center no-repeat;
  background-size: cover;
}

.back{
  background-image:fface.jpg;
  background-color:pink;
}
.face {
  display: block;
margin:100px;

 text-align:center;
 margin: 0 auto;
 margin-top:100px;

}

.cent {
  text-center;
}

.pd {
  padding-top: 100px;
}

.if {
  overflow-y: hidden;
}

.ppd {
  margin-left: 30px
}

.ppd2 {
  margin-left: 100px
}

.text3 {
  font-family: serif;
}
.li{
  list-style-type: none
}
.newf{
  border-radius: 37px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  11px 11px 22px #b0b0b0,
             -11px -11px 22px #ffffff;
}
.sn{
  border-radius: 51px;
  background: #ffffff;
  box-shadow:  12px 12px 24px #8f8f8f,
  width:auto;
  height:auto;



}

ul {
  list-style: none;
}
.icon{

width:60px;
height:60px;
margin:10px;
padding:10px;
border-radius: 10px;


             border-radius: 10px;
             background: linear-gradient(145deg, #4b8bc1, #3f75a2);
             box-shadow:  12px 12px 24px #3c6f99,
                          -12px -12px 24px #5196cf;
}
.comd{

}
.icon2{
margin: 0px;
padding:10px;

}
.name{

font-family: 'Staatliches', cursive;
margin:auto;
text-align: center;
padding-top: 10px;

}
.size1{
  font-size:70px;
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient( to right,  navy 25%, black 75% );
 -webkit-background-clip: text;
 color: transparent;

}
.size2{
  font-size: 30px;
font-family: 'Open Sans Condensed', sans-serif;
}
.top{

  font-family: 'Staatliches', cursive;

  padding-top: 300px;
}
.tsens{
    font-size: 200px;
}
.skill{
  font-size:100px;
  font-family: 'Open Sans Condensed', sans-serif;
}
body{
  background-color:
#4682b4 ;
}
.rotate-anime {
  animation: rotate-anime 3s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}
.tw{
  border-radius: 47px;
background: linear-gradient(145deg, #4b8bc1, #3f75a2);
box-shadow:  36px 36px 72px #3c6f99,
             -36px -36px 72px #5196cf;
             padding:50px;
             margin-top:50px;
}
.nex{
  padding:50px;
  margin-top:100px;
}
.nexs{
  text-align: center;
  padding-top:50px;
}












/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #4682b4; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
