.jumbotron {
  background-image: url("back.png");
  background-size: cover;
  background-position: center 60%;
  height:400px;
}

body{padding-top: 56px;
          }




.wh {
  color: #ffffff;
}
.cool{
  padding-top:70px;
}
.jumbotron2 {
  background-image: url("saiyou.png");
  background-size: cover;
  background-position: center 60%;
  height:400px;
  background-attachment: fixed;
}
.jumbotron3{
  background-image: url("spback.png");
  background-size: cover;
  background-position: center 60%;
  height:400px;
  background-attachment: fixed;
}
/* .pd{ */
  /* padding-top:70px; */
/* } */
.padd{
  margin:50px;
}

.ppd{padding:120px:}
