---

title: "CoderDojo三の丸"
---


<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WEBスタートガイド</title>
  {% include head.html %}
  <meta charset="utf-8">

</head>

<body>
  {% include script.html %}
  {% include header.html %}
  <!--上部バナー-->
  <div class="jumbotron">
    <div class="container">
      <h1 class="col-12 title call red">
        はじめの一歩を、踏み出そう。
      </h1>
      <p class="lead col-md-12  title red">
        CoderDojo三の丸が提供する、初心者向けのwebstartガイドです。
      </p>
  <div class="row">
<a class="btn btn-success title" href="#" role="button">はじめよう</a>
  </div>
    </div>
  </div>

  <!--メインカード-->

  <div class="container">
    <div class="row">
      <div class=" col-6">
        <img src="media/window.png" width="500px" height="500px" alt="">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="title s-1">
          <h1>前準備編&#x1f4bb;</h1>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <ul class="list-group">
              <li class="list-group-item"><h2>GitHubに登録しよう</h2></li>
              <li class="list-group-item"><h2>エディタをインストールしよう</h2></li>
              <li class="list-group-item"><h2>便利な拡張機能</h2></li>
              <li class="list-group-item"><h2>npmを入れてみよう</h2></li>
              <li class="list-group-item"><h2>おまけ　エディタ戦争について</h2></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="title s-1">
          <h1>WEB基礎編&#x1f4bb;</h1>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <ul class="list-group">
              <li class="list-group-item"><h2>HTMLについて</h2></li>
              <li class="list-group-item"><h2>HTMLを書いてみよう</h2></li>
              <li class="list-group-item"><h2>絶対パスと相対パス</h2></li>
              <li class="list-group-item"><h2>cssとの連携</h2></li>
              <li class="list-group-item"><h2>おまけ　LESSとScss</h2></li>
            </ul>
          </div>
        </div>

      </div>
      <div class=" col-6">
        <img src="media/window.png" width="500px" height="500px" alt="">
      </div>
    </div>

    <div class="row">
      <div class=" col-6">
        <img src="media/window.png" width="500px" height="500px" alt="">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="title s-1">
          <h1>WEB実践編1&#x1f4bb;</h1>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <ul class="list-group">
              <li class="list-group-item"><h2>GitHubに登録しよう</h2></li>
              <li class="list-group-item"><h2>エディタをインストールしよう</h2></li>
              <li class="list-group-item"><h2>便利な拡張機能</h2></li>
              <li class="list-group-item"><h2>npmを入れてみよう</h2></li>
              <li class="list-group-item"><h2>おまけ　エディタ戦争について</h2></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="title s-1">
          <h1>WEB実践編2&#x1f4bb;</h1>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <ul class="list-group">
              <li class="list-group-item"><h2>GitHubに登録しよう</h2></li>
              <li class="list-group-item"><h2>エディタをインストールしよう</h2></li>
              <li class="list-group-item"><h2>便利な拡張機能</h2></li>
              <li class="list-group-item"><h2>npmを入れてみよう</h2></li>
              <li class="list-group-item"><h2>おまけ　エディタ戦争について</h2></li>
            </ul>
          </div>
        </div>

      </div>
      <div class=" col-6">
        <img src="media/window.png" width="500px" height="500px" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row title">
      <div class="title">
        <h1>ニュース&#x1f5de;</h1>
      </div>
    </div>
    <div class="row title">
      <div class="title">
        {% for post in site.posts %}
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
        </a>
        <!--  <p>{% if post.desc %}{{ post.desc }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p> -->
        {% endfor %}
      </div>
    </div>
  </div>
  <!--footer-->
{% include footer.html %}

</body>

</html>
