---

title: "startguide"
---


<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>STARTGUIDE.jp</title>
  {% include head.html %}

</head>

<body>

  {% include header.html %}
  <!--上部バナー-->
  <div class="jumbotron">
    <div class="container">
      <h1 class="col-12 title call red">
        はじめの一歩を、踏み出そう。
      </h1>
      <p class="lead col-md-12  title red">
        STARTGUIDE.jpはあなたのはじめの一歩を支援します。
      </p>
      <div class="row">
        <a class="btn btn-success title" href="https://startguide.jp/12/22/44" role="button">はじめよう</a>
      </div>
    </div>
  </div>
  <!-- 上部バナー終わり -->
  <!-- mainbook -->
  <div class="container">

    <div class="card-deck">

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
        <a href="https://startguide.jp/book/book1.html">
          <div class="card">
            <img src="media/book1.png" alt="1.前準備編" class="book card-img-top">

          </div>
        </a>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
        <a href="https://startguide.jp/book/book2.html">
          <div class="card">
            <img src="media/book2.png" alt="2.Web基礎編1" class="book card-img-top">

          </div>
        </a>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
        <a href="https://startguide.jp/book/book3.html">
          <div class="card">
            <img src="media/book3.png" alt="3.Web基礎編2" class="book card-img-top">

          </div>
        </a>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card">
          <img src="media/book4.png" alt="4.Web実践編" class="book card-img-top">

        </div>

      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card">
          <img src="media/newbook.png" alt=" And More!" class="book card-img-top">

        </div>

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row title">
      <div class="title margin">
        <h1>コミュニティ　&#x2615;</h1>
        <p>STARTGUIDE.jpのメンバー同士での交流によって、新しい世界を観測することができます。</p>
      </div>


    </div>
    <div class="row title">
      <div class="title">
        <ul>
          <li>
            <h2><a href="https://github.com/startguide"> GitHubリポジトリ</a></h2>
          </li>
          <li>
            <h2>Slackユーザコミュニティ</h2>
          </li>

        </ul>
      </div>


    </div>

  </div>
  <!-- mainnbookここまで -->

  <div class="container">
    <div class="row title">
      <div class="title">
        <h1>ニュース&#x1f5de;</h1>
      </div>
    </div>
    <div class="row title">
      <div class="title">
        {% for post in site.posts %}
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
        </a>
        <!--  <p>{% if post.desc %}{{ post.desc }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p> -->
        {% endfor %}
      </div>
    </div>
  </div>
  <!--footer-->
  {% include footer.html %}
  {% include script.html %}
</body>

</html>
