---

title: "CoderDojo三の丸"
---


<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WEBスタートガイド</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap">
  <link rel="shortcut icon" type="image/x-icon" href="https://sannomaru.github.io/logo.png">
  <link rel="stylesheet" href="css/stylees.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
  <meta charset="utf-8">

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://twemoji.maxcdn.com/v/13.0.1/twemoji.min.js" integrity="sha384-5f4X0lBluNY/Ib4VhGx0Pf6iDCF99VGXJIyYy7dDLY5QlEd7Ap0hICSSZA1XYbc4" crossorigin="anonymous"></script>
  {% include header.html %}
  <!--上部バナー-->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 col-12 tops">
        はじめの一歩を、踏み出そう
      </h1>
      <p class="lead col-md-12  tops">
        CoderDojo三の丸が提供する、初心者向けのwebstartガイドです。
      </p>
      <div class="botana sdw">
        <a class="botan">
          もっと知る
        </a>
        <div class="botans">
        </div>
      </div>
    </div>
  </div>

  <!--メインカード-->

  <div class="container">
    <div class="row">
      <div class=" col-6">
        <img src="media/window.png" width="500px" height="500px" alt="">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="title　tops">
            <h1>前準備編</h1>
          </div>
        </div>
        <div class="row">
          <div class="card title">
            <ul class="list-group">
              <li class="list-group-item">GitHubに登録しよう</li>
              <li class="list-group-item">エディタをインストールしよう</li>
              <li class="list-group-item">便利な拡張機能</li>
              <li class="list-group-item">npmを入れてみよう</li>
              <li class="list-group-item">おまけ　エディタ戦争について</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row title">
      <div class="title">
        <h1>ニュース&#x1f5de;</h1>
      </div>
    </div>
    <div class="row title">
      <div class="title">
        {% for post in site.posts %}
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
        </a>
        <!--  <p>{% if post.desc %}{{ post.desc }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p> -->
        {% endfor %}
      </div>
    </div>
  </div>
  <!--メンター一覧-->
  <div class="container">
    <div class="row">
      <footer class="footer tops title">
        ©︎　COPYRIGHT CoderDojo三の丸　2020
      </footer>
    </div>
  </div>

  <script>
    twemoji.parse(document.body);
  </script>







</body>

</html>
