<footer class="text-center bg-dark text-white">
       <p class="py-3">STARTGUIDE.jp</p>
   </footer>
<script>
  twemoji.parse(document.body);
</script>
<div class="fixed-bottom"　style="margin:50px;">
<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="ituyama" data-description="Support me on Buy me a coffee!" data-message="STARTGUIDE.jpの継続的なコンテンツ開発のために寄付を募っています" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</div>
