<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
    <div class="container titles">
      <div class="row　mr-auto">
        <img src="logo.png" width="30" height="30" loading="lazy">

        STARTGUIDE.jp

      </div>

    </div>

  </a>
  <div class="collapse navbar-collapse" id="navbarText">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="#">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">貢献する</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">お問い合わせ</a>
     </li>
   </ul>

 </div>
</nav>
