


<script src="https://twemoji.maxcdn.com/v/13.0.1/twemoji.min.js" integrity="sha384-5f4X0lBluNY/Ib4VhGx0Pf6iDCF99VGXJIyYy7dDLY5QlEd7Ap0hICSSZA1XYbc4" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <a class="navbar-brand" href="https://startguide.jp">
    <div class="container titles">
      <div class="row　mr-auto">
        <img src="https://startguide.jp/logo.png" width="30" height="30" loading="lazy">

        STARTGUIDE.jp

      </div>

    </div>

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="https://startguide.jp">Home</a>
      <a class="nav-item nav-link" href="https://startguide.jp/joins.html">貢献する</a>
      <a class="nav-item nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfEXbbOVTpsIaGhHwDcgwf69e7Xv9o17LI19d7RJDcEmGY0lQ/viewform?usp=sf_link">お問い合わせ</a>
      <a href="https://www.buymeacoffee.com/ituyama"><img src="https://img.buymeacoffee.com/button-api/?text=寄付のお願い&emoji=💴&slug=ituyama&button_colour=5F7FFF&font_colour=ffffff&font_family=Arial&outline_colour=000000&coffee_colour=FFDD00"></a>

    </div>
  </div>

</nav>
