<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CoderDojo三の丸</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap">
  <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/ituyama/sannomaru/master/favicon.png">
  <link rel="stylesheet" href="stylees.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://twemoji.maxcdn.com/v/13.0.1/twemoji.min.js" integrity="sha384-5f4X0lBluNY/Ib4VhGx0Pf6iDCF99VGXJIyYy7dDLY5QlEd7Ap0hICSSZA1XYbc4" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg justify-content-center sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
      <img src="dojologo.png" width="200" height="60" loading="lazy">
    </a>
  </nav>
  <!--上部バナー-->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 col-md-12 col-lg-6 tops">
        For Children By Society
      </h1>
      <p class="lead col-md-12 col-lg-6">
        CoderDojo三の丸は茨城県で活動する、すべての子供たちを対象とした無償のプログラミング道場です。
      </p>
      <div class="botana sdw">
        <a class="botan">
          もっと知る
        </a>
        <div class="botans">
        </div>
      </div>
    </div>
  </div>
  <!--メインカード-->
  <div class="container">
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <a href="https://docs.google.com/presentation/d/13t5P1gojsde_gvcvDnPsfHYIqsS-knqWGDxyh3eG8SU/edit#slide=id.p">
            <img class="card-img-top" src="dt.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                CoderDojoってなんだろう
              </h5>
              <p class="card-text">
                CoderDojoについて詳しく知ろう
              </p>
          </a>
            </div>
      </div>
      <div class="card">
        <a href="https://coderdojo.jp/">
          <img class="card-img-top" src="dt.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              CoderDojoJapan
            </h5>
            <p class="card-text">
              Dojoは日本中にあります。
            </p>
        </a>
      </div>
    </div>
    <div class="card">
      <a href="https://docs.google.com/presentation/d/13t5P1gojsde_gvcvDnPsfHYIqsS-knqWGDxyh3eG8SU/edit#slide=id.p">
        <img class="card-img-top" src="dt.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            Dojoに参加しよう！
          </h5>
          <p class="card-text">
            ComingSoon
          </p>
      </a>
    </div>
  </div>

  <div class="container">

  </div>
  <!--メンター一覧-->
  <div class="container">
    <div class="row title">
      <div class="title">
        <h1>メンター &#x1f44d;</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="fface.jpg" alt="" class="face">
            </div>
            <h5 class="card-title">Yamano</h5>
            <p class="card-text">champion<br>
              <span class="badge badge-secondary">PHP</span>
              <span class="badge badge-secondary">HTML/CSS</span>
              <span class="badge badge-secondary">Scratch</span>
              <span class="badge badge-secondary">Laravel</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="rate.jpg" class="face">
            </div>
            <h5 class="card-title">Rate</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="rin.jpg" class="face">
            </div>
            <h5 class="card-title">Rin</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="sasaki.jpg" class="face">
            </div>
            <h5 class="card-title">Sasaki</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="miku.jpg" class="face">
            </div>
            <h5 class="card-title">HoiHoi</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
              <span class="badge badge-secondary">動画編集</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="akikan.png" class="face">
            </div>
            <h5 class="card-title">UsedCan</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
              <span class="badge badge-secondary">初音ミク</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="kawabe.jpg" alt="" class="face">
            </div>
            <h5 class="card-title">Kawabe</h5>
            <p class="card-text">Mentor<br>
              <span class="badge badge-secondary">Scratch</span>
              <span class="badge badge-secondary">MMD</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-img">
              <img src="logo.png" class="face">
            </div>
            <h5 class="card-title">
              And You!
            </h5>
            <p class="card-text">Supporter<br>
              <span class="badge badge-secondary">New Technology...</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ニュース-->
    <div class="row title">
      <div class="title">
        <h1>ニュース</h1>
      </div>
    </div>
    <div class="row title">
      <div class="title">
        <ul>{{content}}</ul>
      </div>
    </div>

    <!--参加する-->
    <div class="row title">
      <div class="title">
        <h1>参加する &#x1f44d;</h1>
      </div>
    </div>
    <div class="container-fluied">
      <div class="row">
        <div class="col-12 title">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc9tHwEgW4H_wX7jLxqBNbvA7koKrkFAc25YaJv5PYHBOa9Gw/viewform?embedded=true" width="700" height="650" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
        </div>
      </div>
    </div>
  </div>




  <script>
    twemoji.parse(document.body);
  </script>
</body>

</html>
