---

title: "startguide-book1"
---




<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>1.前準備編</title>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-12 col-sm-12 col-lg-2 col-xl-2   navbar-expand-lg">

        <div class="row">

          <div class="card">
            <img src="https://startguide.jp/media/book1.png" alt="1.前準備編" class="book card-img-top"style="width:100%;">

          </div>
        </div>
        <div class="row">
          <div class="row collapse navbar-collapse" id="navbarNavAltMarkup">

            <h2>
              <ul>
                <li><h3>1.準備編</h3></li>
                <ul>
                  <li><h3>GitHubに登録しよう</h3></li>
                  <li><h3>エディタをインストールしよう</h3></li>
                  <li><h3>便利な拡張機能</h3></li>
                </ul>
              </ul>
            </h2>


          </div>
        </div>

      </nav>
      <div class="col-md-12 col-sm-12 col-lg-10 col-xl-10">
        <div class="row">
          <div class="title">
            <h1>目次,-@</h1>

          </div>

        </div>
        <div class="row">
          <div class="card title">
            <div class="card-body">
              <div class="card-title">
                <div class="s-1">
                  準備編
                </div>

              </div>
              <div class="card-text s-1">
                <ul class="list-group">
                  <li class="list-group-item">
                    <p>GitHubに登録しよう</p>
                  </li>
                  <li class="list-group-item">
                    <p>エディタをインストールしよう
                    <p>
                  </li>
                  <li class="list-group-item">
                    <p>便利な拡張機能</p>
                  </li>
                  <li class="list-group-item">
                    <p>npmを入れてみよう</p>
                  </li>
                  <li class="list-group-item">
                    <p>おまけ　エディタ戦争について</p>
                  </li>
                </ul>

              </div>
              <nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">@fat</h4>
  <p>...</p>
  <h4 id="mdo">@mdo</h4>
  <p>...</p>
  <h4 id="one">one</h4>
  <p>...</p>
  <h4 id="two">two</h4>
  <p>...</p>
  <h4 id="three">three</h4>
  <p>...</p>
</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include script.html %}
</body>

</html>
