---

title: "startguide-book1"
---




<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>1.前準備編</title>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      <nav class="col-md-12 col-sm-12 col-lg-3 col-xl-3  ">

        <div class="row">

          <div class="card">
            <img src="https://startguide.jp/media/book1.png" alt="1.前準備編" class="book card-img-top" style="width:100%;">

          </div>
        </div>
        <div class="row title">
          <div class="card title">
            <p class="title card-title">1.準備編</p>
            <div class="card-text">所要時間　20～30分</h2>
          </div>


        </div>


      </nav>
      <div class="col-md-12 col-sm-12 col-lg-9 col-xl-9">
        <div class="row">
          <div class="title">
            <h1>目次</h1>

          </div>

        </div>
        <div class="row">
          <div class="title">
            <ul class="list-group　title ">
              <li class="list-group-item">
                <a href="https://startguide.jp/12/29/49"><p class="menu-size">GitHubに登録しよう</p></a>
              </li>
              <li class="list-group-item">
                <p class="menu-size">エディタをインストールしよう</p>
              </li>
              <li class="list-group-item">
                <p class="menu-size">便利な拡張機能</p>
              </li>
              <li class="list-group-item">
                <p class="menu-size">npmを入れてみよう</p>
              </li>
              <li class="list-group-item">
                <p class="menu-size">おまけ　エディタ戦争について</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include script.html %}
</body>

</html>
