---

title: "startguide-book1"
---




<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1.前準備編</title>
      {% include head.html %}
  </head>
  <body>
{% include header.html %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-2 col-xl-2">
    <div class="row">

      <div class="card">
        <img src="https://startguide.jp/media/book1.png" alt="1.前準備編" class="book card-img-top">

      </div>
    </div>
    <div class="row">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav>
        <ul>
          <li>1.準備編</li>
          <ul>
            <li>GitHubに登録しよう</li>
            <li>エディタをインストールしよう</li>
            <li>便利な拡張機能</li>
          </ul>
        </ul>
        <li></li>
      </nav>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-10 col-xl-10">
    <div class="row">
  <div class="title">
    <h1>目次,-@</h1>

  </div>

    </div>
    <div class="row">
      <div class="card title">
        <div class="card-body">
          <div class="card-title">
            <div class="s-1">
              準備編
            </div>

          </div>
          <div class="card-text s-1">
            <ul class="list-group">
              <li class="list-group-item">
                <p>GitHubに登録しよう</p>
              </li>
              <li class="list-group-item">
                <p>エディタをインストールしよう
                <p>
              </li>
              <li class="list-group-item">
                <p>便利な拡張機能</p>
              </li>
              <li class="list-group-item">
                <p>npmを入れてみよう</p>
              </li>
              <li class="list-group-item">
                <p>おまけ　エディタ戦争について</p>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
{% include footer.html %}
{% include script.html %}
  </body>
</html>
